/*body styles*/


/*nav styles*/

.example-spacer {
    flex: 1 1 auto;
}

.nav-items {
    margin-left: 400px;
}

.login-btn {
    margin-right: 20px;
}

.nav-bar {
    display: flex;
    position: fixed;
}
