<!--navigation bar-->
<mat-toolbar color="primary" class="nav-bar">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon color="accent">fastfood</mat-icon>
  </button>
    <span>Shishi food</span>
    <span class="nav-items">
      <button mat-button routerLink="menu">Our Menu</button>
      <button mat-button routerLink="services">Services</button>
      <button mat-button routerLink="contacts">Contact us</button>
    </span>
    <span class="example-spacer"></span>
    <span>
      <button mat-raised-button color="accent" class="login-btn">Login</button>
      <button mat-raised-button color="accent">Join us</button>
    </span>
</mat-toolbar>

<router-outlet></router-outlet>
