/*header styles*/

section {
    padding: 2rem 9%;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.home.image {
    flex: 1 1 40rem;
    padding-top: 5rem;
}

.home.image.img {
    width: 100%;
}

.home.content {
    flex: 1 1 40rem;
}

.btn {
    width: 200px;
}

.heading {
    font-size: 20px;
}