<!--header-->
<section class="home" id="home">
    <div class="image">
        <img src="assets/home-img.png" alt="">
    </div>
    <div class="content">
        <span><h1>Welcome To Shishi Food Restaurant.</h1> </span>
        <button mat-raised-button class="btn" color="primary">Get Started</button>
    </div>
</section>
<!--footer section-->
<div class="container">
    <footer class="py-5">
        <div class="row">
            <div class="col-2">
                <h2>Services</h2>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Catering</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Food delievery</a></li>

                </ul>
            </div>

            <div class="col-2">
                <h2>Our Branches</h2>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Dodoma</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Dar-es-salaam</a></li>

                </ul>
            </div>

            <div class="col-2" id="contacts">
                <h2>Contact us</h2>
                <ul class="nav flex-column">
                    <li>
                        <a href="" class="btn fab fa-facebook-f"></a>
                    </li>
                    <li>
                        <a href="" class="btn fab fa-instagram"></a>
                    </li>
                    <li>
                        <a href="" class="btn fab fa-whatsapp"></a>
                    </li>
                    <li>
                        <a href="" class="btn fa fa-phone">+255-766-840-442</a>
                    </li>

                </ul>
            </div>

            <div class="col-4 offset-1">
                <form>
                    <h2>Subscribe to our newsletter</h2>
                    <p>Monthly digest of whats new and exciting from us.</p>
                    <div class="d-flex w-100 gap-2">
                        <label for="newsletter1" class="visually-hidden">Email address</label>
                        <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
                        <button class="btn btn-primary" type="button">Subscribe</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="d-flex justify-content-between py-4 my-4 border-top">
            <p>© 2021 Shishi Food, Inc. All rights reserved.</p>

        </div>
    </footer>
</div>
